* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-image: url("../img/forest4.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: #0F225C;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 3px;
}

.devide {
  height: 3px;
  width: 30px;
  background-color: #0F225C;
  margin-bottom: 20px;
}

.form form {
  display: flex;
  flex-direction: column;
  width: max-content;
  padding: 10px;
  background-color: rgba(204, 204, 204, 0.623);
  border-radius: 10px;
  border: 2px solid #0F225C;
}

p {
  margin: 0;
}

.form input,
.form button {
  width: 280px;
  padding: 5px;
  margin: 5px auto;
  box-sizing: border-box;
  font-size: 17px;
  outline: none;
  border: 2px solid transparent;
  border-radius: 10px;
  color: #0F225C;
  background-color: rgba(255, 255, 255, 0.5);
  outline: 2px solid #0F225C;
}

.form button {
  /* border-bottom: 5px solid #555; */
  border-radius: 10px;
}

/* .form button:active {
  border-bottom: 2px solid #555;
  margin-top: 8px;
} */

.form button:hover {
  background-color: #0f225c49;
  cursor: pointer;
}

.pass {
  font-size: 12px;
  text-align: right;
  cursor: pointer;
}

.fontawesome-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.fontawesome-area i {
  margin-top: 10px;
  font-size: 22px;
  cursor: pointer;
}

.icon {
  margin: 10px;
}